<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Smily University</title>
</head>
<body>

    <div class="container">
        <div class="left headerItems"><img src="logo.png" alt="logo.png" onclick="location.href='http://localhost:3000'"> </div>
        <div class="middle headerItems"><h4></h4></div>
        <div class="right headerItems"><h3>Admin  </h3></div>
      </div>
      
    


<hr>


<h1>Add New Teacher</h1>

<div class="row">

    <!-- id cannot be changed  -->


    <span class="adminCells admin12charSize" style="background-color: yellow;">
       
        <h2> Name </h2>
        
    </span>



    <span class="adminCells admin12charSize" style="background-color: yellow;">
       
        <h2> Phone Number </h2>
        
    </span>
    
    <span class="adminCells admin30charSize" style="background-color: yellow;">
       
        <h2> Email </h2>
        
    </span>

    <span class="adminCells admin80charSize" style="background-color: yellow;">
       
        <h2> Address </h2>
        
    </span>

    <span class="adminCells admin4charSize" style="background-color: yellow;">
       
        <h2> Salary </h2>
        
    </span>

    <span class="adminCells admin12charSize" style="background-color: yellow;">
       
        <h2> Username </h2>
        
    </span>

    <span class="adminCells admin12charSize" style="background-color: yellow;">
       
        <h2> Password </h2>
        
    </span>


</div>
<form action="/adminAddTeacher" method="post">
<div class="row">


    <!-- teacher  -->
    <input type="text" placeholder="Aryan Choudhury" class="adminCells admin12charSize adminFormFont" maxlength="20" required name="teacherName">


<!-- phone Number -->
<input type="tel" placeholder="888-888-8888" class="adminCells admin12charSize adminFormFont" maxlength="12" required name="teacherPhone">
    
    

    <!-- Email  -->
    <input type="email" placeholder="SmilyUniversity@gmail.com" class="adminCells admin30charSize adminFormFont" maxlength="30" required name="teacherEmail">

    <!-- address  -->
    <input type="text" placeholder="12345 USA street, USA city, USA State" class="adminCells admin80charSize adminFormFont" maxlength="50" required name="teacherAddress">

    <!-- Salary  -->
    <input type="number" placeholder="300" class="adminCells admin4charSize adminFormFont" maxlength="3" required name="teacherSalary">

    <input type="text" placeholder="rickys" class="adminCells admin12charSize adminFormFont" maxlength="20" required  name="teacherUsername">

    <input type="text" placeholder="Abcd4321" class="adminCells admin12charSize adminFormFont" maxlength="20" required name="teacherPassword">
    
</div>

<br><br>

    <div class="search-bar">
        <button type="submit" class="btn">Add</button></form>
        <button onclick="location.href='http://localhost:3000/searchTeacher'" class="btn">Cancel</button>
    </div>
    


</body>
</html>