<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Smily University</title>
</head>
<body>
    

    <div class="container">
        <div class="left headerItems"><img src="logo.png" alt="logo.png" onclick="location.href='http://localhost:3000'"> </div>
        <div class="middle headerItems"><h4> </h4></div>
        <div class="right headerItems"><h3>Admin  </h3></div>
      </div>



<hr>
    <h1>Student's Homepage</h1>
    <div class="search-bar">
    <form action="/searchStudent" method="post"> 
        <input type="text" placeholder="Search Students" id="search-bar" list="search-suggestions" name="searchStudentsName">
        <datalist id="search-suggestions">
          <% students.forEach(function(student) { %>
            <option value="<%= student.student_name %>">
          <% }); %>
          </datalist>
        <button type="submit" name="adminSearchStudent" value="adminSearchStudent">Search</button>
      </form>
      </div>
    </form>
    <br><br>
    <div class="search-bar">
      <button class="btn" onclick="location.href='http://localhost:3000/adminAddStudents'">Add New Student</button>
      <button class="btn" onclick="location.href='http://localhost:3000/adminHome'">Back</button>
  </div>

      <br><br>
      <div class="container minicontainer">

        <div class="left headerItems"><h2>Name</h2></div>
        <div class="right headerItems"><h2>ID</h2></div>    
    
    </div>

      <hr>

      <% students.forEach(function(student) { %>
    <div class="container minicontainer">

        <div class="left headerItems"><h2><%= student.student_name %></h2></div>
        <div class="right headerItems"><h2><%= student.id %></h2></div>       
    
    </div>
    <% }); %>

  <div class="search-bar">
    <button class="btn" onclick="location.href='http://localhost:3000/adminAddStudents'">Add New Student</button>
    <button class="btn" onclick="location.href='http://localhost:3000/adminHome'">Back</button>
</div>

    


</body>
</html>